<!DOCTYPE html>
<html>
<head>
  <title>SmartMenu</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/styles/principal.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<header>
 <h1 class="title">SmartMenu</h1>
</header>
<body class="container">
 <div class="row main-row" id="photomod">
   <video id="video"></video>
	<br>
	<!--<button id="boton" class="btn btn-primary btn-lg"><i class="fa fa-camera"></i></button>-->
	<!--<p id="estado"></p>-->
	<canvas id="canvas" style="display: none;"></canvas>
 </div>
 <div class="row main-row">
      <form id="baggage-form" action="/dataloggin" method="post" enctype="multipart/form-data">
         <input type="hidden" class="form-control" id="scan-file" name="image" />
         <button id="boton" class="btn btn-primary btn-lg"><i class="fa fa-camera"></i></button>
         <button class="btn btn-primary btn-lg" name="checkin" id="success">Upload</button>
      </form>
 </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/dew.js"></script>
</html>